.container {
    display: flex;
    flex-wrap: wrap;
    background-color: #0e162a;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;


}

.login-box {
    flex: 1 1 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: #1f293a; 
    border-radius: 10px;
}

.login-box h2 {
    margin-bottom: 20px;
}

.login-box label {
    align-self: flex-start;
    margin: 10px 0 5px;
    font-size: 14px;
    color: #fff;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #324154;
    color: #fff;
    box-sizing: border-box;
}

.login-box button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2176ff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #1b5fcc;
}

.benefits {
    flex: 1 1 300px;
    padding: 20px;
    box-sizing: border-box;
}

.benefits h2 {
    margin-bottom: 20px;
}

.benefits ul {
    list-style-type: none;
    padding: 0;
}

.benefits ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    color : #8e98a9;
}

.benefits ul li::before {
    content: "\2022";
    color: #2176ff;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-right: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .login-box, .benefits {
        flex: none;
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }
}