@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

* {
  font-family: 'Manrope', sans-serif;
}

/* Styles for the alumni heading */
.alumni-heading {
  font-size: 4rem;
  font-weight: bold;
  color: #3b82f6;
  text-align: center;
}

@media (max-width: 868px) and (min-width:776px) {
  .alumni-heading {
    font-size: 3.25rem;
  }
}

@media (min-width: 868px) and (max-width: 886px) {
  .alumni-heading {
    font-size: 3.5rem;
  }
}

@media (max-width: 776px) and (min-width: 691px) {
  .alumni-heading {
    font-size: 3rem;
  }
}

@media (max-width:691px) and (min-width:618px) {
  .alumni-heading {
    font-size: 2.5rem;
  }
}

@media (max-width:618px) and (min-width:546px) {
  .alumni-heading {
    font-size: 2rem;
  }
}

@media (max-width:546px) and (min-width:440px){
  .alumni-heading {
    font-size: 1.5rem;
  }
}

@media (max-width:440px) and (min-width:396px){
  .alumni-heading {
    font-size: 1.3rem;
  }
}

@media (max-width:396px) and (min-width:376px){
  .alumni-heading {
    font-size: 1.15rem;
  }
}

@media (max-width:376px) and (min-width:365px){
  .alumni-heading {
    font-size: 1rem;
  }
}


/* Styles for the select container */
.select-container {
  display: flex;
  justify-content: center;
  margin: 16px 0;
}

@media (min-width: 768px) {
  .select-container {
    margin: 0;
  }
}

/* Styles for the select dropdown */
.year-select {
  padding: 8px;
  margin: 0 auto;
  font-size: 4.5rem;
  font-weight: bold;
  outline: none;
  background-color: black;
  color: #3b82f6;
}

@media (max-width: 868px) and (min-width:776px) {
  .year-select {
    font-size: 3.55rem;
  }
}

@media (min-width: 868px) and (max-width: 886px) {
  .year-select {
    font-size: 4rem;
  }
}

@media (max-width: 776px) and (min-width: 691px) {
  .year-select {
    font-size: 3.5rem;
  }
}

@media (max-width:691px) and (min-width:618px) {
  .year-select {
    font-size: 3rem;
  }
}

@media (max-width:618px) and (min-width:546px) {
  .year-select {
    font-size: 2.5rem;
  }
}

@media (max-width:546px) {
  .year-select {
    font-size: 2rem;
  }
}

@media (max-width:440px) and (min-width:396px){
  .year-select {
    font-size: 1.7rem;
  }
}

@media (max-width:396px)and (min-width:376px){
  .year-select {
    font-size: 1.5rem;
  }
}

@media (max-width:376px){
  .alumni-heading {
    font-size: 1rem;
  }
}